@import url("https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(to right, #00d4ff, #ffffff);
  /*background: linear-gradient(to right, #ffffff, #00d4ff);*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  background-color: #ffffff;
  box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
  width: 80%;
  margin: 0 auto;
}

.titleContainer {
  height: 90vh;
  background: url("img/bg.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
  color: #000000;
  /*check once again*/
}

.titleContainer_title {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.5;
  font-family: "Roboto Slab", serif;
}

.titleContainer_subtitle {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

/*.formContainer {
  background-color: #2c3;
  height: 90vh;
}*/

.formContainer {
  background-color: #ffffff;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #fffd57;
  outline: none;
}

input:-webkit-autofill {
  /*-webkit-box-shadow: 0 0 0 30px #2c3 inset;*/
  -webkit-text-fill-color: #000000 !important;
}

.formContainer_button {
  border: 0;
  /*padding: 8px 20px;*/
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #f16051;
  /*background-color: hsl(59, 100%, 56%);*/
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}

.weather_info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather_value {
  /*color: #3bfbde;*/
  color: #ff5757;
  padding: 10px;
}

.weather_key:last-child {
  border: 0;
}

.weather_key {
  color: #ff5757;
  font-weight: 200;
  padding: 10px;
}

.weather_error {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}
